<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="editarUsuario.css">
</head>
<body>
    <div class="container">
        <h1>Editar Usuário</h1>
        <!-- Formulário para edição do usuário -->
        <form id="editarForm">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="Ativo">Ativo</option>
                <option value="Inativo">Inativo</option>
            </select>
            <label for="grupo">Grupo:</label>
            <input type="text" id="grupo" name="grupo">
            <button type="submit">Salvar Alterações</button>
        </form>

        <!-- Botão para voltar para a tela de gerenciamento -->
        <button id="voltarBtn" class="botao-voltar">Voltar para Gerenciamento</button>
    </div>

    <script src="editarUsuario.js"></script>
</body>
</html>
